html {
    font-family: 'Space Mono', monospace;
    font-size: 1.95vh;
}
button, input {
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}
html *{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: hsl(185, 41%, 84%)
}
main{
    height: 100%;
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    border-radius: 1.2em 1.2em 0 0;
    gap: 0;
}
.container{
    /* border-radius: 1.2em 1.2em 0 0; */
    /* background-color: hsl(0, 0%, 100%); */
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    margin: 0;
}
.container div{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


svg{
    margin-top: 0.8em;
    height: 10vh;
}

div p{
    font-size: 0.8rem;
    text-align: start;
    margin: 2em 0 0.6em 5.4%;
    color: hsl(186, 14%, 43%);
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em
}


.buttons button{
    border: none;
    font-size: 1.2rem;
    padding: 0.3em 0;
    width: 37vw;
    border-radius: 0.25em;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}
.buttons .custom{
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%)
}

.second{
    width: 100%;
}

input{
    text-align: right;
    width: 90%;
    border: none;
    padding: 0.5em 0;
    border-radius: 0.35em;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    font-size: 1.2rem;
}

.bill-input{
    background: url(images/icon-dollar.svg) no-repeat scroll 1em 50%;
    background-size: 0.5em;
    background-color: hsl(189, 41%, 97%);
}

.people-input{
    background: url(images/icon-person.svg) no-repeat scroll 1em 50%;
    background-size: 0.5em;
    background-color: hsl(189, 41%, 97%);
}

div.total {
    margin-top: 1em;
    background-color: hsl(183, 100%, 15%);
    height: 15em;
    width: 80%;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-shrink: 1;
}
.total .up, .total .down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    height: 20%;
}

.total p{
    color:hsl(0, 0%, 100%);
    margin: 1.75em 1em 0 1.25em;
}

.total span{
    font-size: 0.75rem;
    color: hsl(184, 14%, 56%);
}

.total .cash{
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%)
}

.total button{
    margin: 0 auto 0em auto;
    border: none;
    background-color: hsl(172, 67%, 45%);
    border-radius: 0.3em;
    font-size: 1rem;
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
    padding: 0.65em 0;
    width: 85%;
}

.footer{
    font-size: 0.5rem;
    text-align: center;
    color: hsl(184, 14%, 56%);
}

.footer a{
    color: hsl(186, 14%, 43%)
}

.footer a:hover{
    color: hsl(172, 67%, 45%);
    text-decoration: 1px underline wavy;
}
.buttons button:hover{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

.container-total {
    /* background-color: hsl(0, 0%, 100%); */
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    margin: 0;
}
/* @media (min-width: 750px) {
    main{
        justify-content: space-evenly;
    }
    .container{
        height: 50vh;
        width: 100vh;
        border-radius: 1.25em
    }
    .container *{
        /* display: none; */
@media (min-width: 940px){
    html{
        font-size: 1.6vh
    }
    body{
        justify-content: center;
    }
    svg{
        margin-bottom: 2em;
    }
    main{
        justify-content: space-evenly;
        flex-direction: row;
        border-radius: 1.25em;
        height: 50vh;
        width: 100vh;
    }
    .container{
        width: 60%;
        height:85%;
        justify-content: space-between;
        margin-bottom: 5em;
        /* gap: 2em; */
    }
    .buttons button{
        width: 30%;
        padding: 0.5em 0;
    }

    .container-total{
        width: 40%;
        height: 100%;
    }
    div.total{
        margin: 0;
        height: 77%;
        width: 90%;
        justify-content: center;
    }
    .footer{
        height: 1%;
        font-size: 0.62em;
    }
    .footer a:hover{
        color: hsl(172, 67%, 45%);
        text-decoration: 1px underline wavy;
    }
    div p{
        font-size: 0.9rem;
    }
    div.down{
        margin-bottom: 9.5em;
    }
    div.up{
        margin: 0.5em 0 1.75em 0;
    }
    .total{
        padding-bottom: 0.8em;
    }
    .total p {
        margin-left: 2em;
    }

    .total .cash{
        font-size: 2rem
    }




    


    
}